moz-any {
  align-self :flex-end ;
  margin-left: 900px;
}

nav {
    
  Display:flex;
  flex-direction: row;
}

.roadimage{
   margin: 10px 0 0 10px;
   height: 200px;
   width: 600px;
}

#map1{
    height: 200px;
    width: 200px;
}
#map2{
    height: 200px;
    width: 200px;
}
